@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ropa Sans";
  color: rgba(136, 136, 136, 1);
}

header {
  padding: 16px 44px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
  margin: 0 auto;
}

.logo-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

main {
  width: 1200px;
  margin: 36px auto;
}

section.banner {
  margin: 40px 0;
}

section.banner .carousel {
  position: relative;
}

section.banner .carousel .img-slider {
  width: 100%;
}

section.banner .carousel .arrows {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;

  top: 0;
  width: 100%;
  height: 100%;
}

section.banner .carousel .arrows button {
  background: rgba(141, 141, 141, 0.62);
  border: none;

  border-radius: 50px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 10px;

  cursor: pointer;
}

section.destaques {
  margin-bottom: 40px;
}

section.destaques .sale {
  display: flex;
  justify-content: space-between;
}

section.destaques .sale article {
  background: rgba(238, 238, 238, 1);
  width: 450px;
}

section.destaques .sale article .info {
  padding: 32px;
}

section.destaques .sale article img {
  width: 100%;
}

section.destaques .sale article .value {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

section.destaques .sale article .value h3 {
  font-weight: 700;
  font-size: 40px;
}

section.destaques .sale article .value span {
  width: 80px;
  height: 32px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 28px;
  padding: 5px;
}

section.destaques .sale article:first-child span {
  background: #51d275;
}

section.destaques .sale article:last-child span {
  background: #dc9730;
}

section.styles {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

section.styles h2,
h3 {
  font-weight: 100;
}

section.styles article h3 {
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(196, 196, 196, 0.5);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

section.styles article {
  padding: 70px 30px;
  margin: 20px auto;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}

footer {
  background-color: #333333;
  padding: 40px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

footer .container .maps iframe {
  width: 500px;
  height: 300px;
  border-radius: 50px;
  border: none;
}

footer .container .info p,
a,
h5,
h4 {
  font-size: 20px;
  font-weight: 100;
  line-height: 45px;
  color: #fff;
}

footer .container .info h5 {
  margin-top: 36px;
  line-height: normal;
}

footer .container .social-medias img {
  width: 30px;
  margin: 5px;
}
